# dependências locais
node_modules
.pnp.*
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz

# output do build local
.next
out
build

# logs e arquivos temporários
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo

# arquivos do sistema
.DS_Store

# ambiente local
.env
.env.*

# Vercel
.vercel

# arquivos opcionais
coverage
